# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.log
*.pdb
*.tlog
*.idb
*.lastbuildstate
*.recipe
*.suo
*.iobj
*.ipdb
*/bin
*/.vs
*bin
*.vs